@model ICollection<WebService.Models.API.Movie>
﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <b>Connectez-vous pour ajouter un j'aime aux films</b>
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.Title</h4>
        @{
            string url = "https://image.tmdb.org/t/p/original" + @item.poster_path;
            int id = item.Id;
        }
        <img width="20%" src="@url" />
        <br />
        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        <div id=@item.Id>
            J'aime:
            @if (SignInManager.IsSignedIn(User))
            {
                @if (item.IsLiked)
                {
                    <i onclick="addOrRemoveLike(@item.Id, 'remove')" style="cursor:pointer;" class="bi bi-heart-fill"></i>
                }
                else
                {
                    <i onclick="addOrRemoveLike(@item.Id, 'add')" style="cursor:pointer" class="bi bi-heart"></i>
                }
            }
            else
            {
                <i class="bi bi-heart"></i>
            }
            <span>@item.Like</span>
        </div>
    </div>
}